body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
}

header {
    padding: 50px 20px;
    background: linear-gradient(135deg, #222, #000);
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #1abc9c;
    animation: slideInDown 1s ease-in-out;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #ecf0f1;
    animation: slideInUp 1s ease-in-out;
}

section {
    padding: 50px 20px;
}

#features {
    background-color: #111;
    border-top: 2px solid #1abc9c;
    animation: fadeIn 2s ease-in-out;
}

#features ul {
    list-style-type: none;
    padding: 0;
}

#features li {
    margin: 10px 0;
    font-size: 1.2em;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    animation: slideInLeft 1s ease-in-out;
}

#download {
    background-color: #000;
    animation: fadeIn 2s ease-in-out;
}

#download ul {
    list-style-type: none;
    padding: 0;
}

#download li {
    margin: 10px 0;
    font-size: 1.2em;
    animation: slideInRight 1s ease-in-out;
}

.download-button {
    color: #fff;
    text-decoration: none;
    border: 2px solid #1abc9c;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1abc9c;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #16a085;
    border-color: #16a085;
    transform: scale(1.1);
}

footer {
    padding: 20px;
    background-color: #111;
    border-top: 2px solid #1abc9c;
    animation: fadeIn 2s ease-in-out;
}

footer p {
    margin: 0;
    font-size: 0.8em;
    color: #bdc3c7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
